{{ "custom.css" | asset_url | stylesheet_tag }}

<div id="item-box"></div>
<div id="item-header">
  <div class="item-container">
    <div class="item-header-container1">
      <h1 id="index-title1">Personalize your</h1>
    </div>
    <div class="item-header-container2">
      <h1 id="index-title2">own box</h1>
    </div>
  </div>

  <p id="item-msg">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium est
                                                                    commodi tempore accusamus molestiae, quidem et praesentium, nostrum labore quo
                                                                    natus, a blanditiis ex quibusdam! Corrupti, dolore illum. Error, facere.</p>
</div>

<div class="btn-container">
  <button id="btn">Build a Box</button>
  <button id="btn2">
    More Info</button>
</div>

<div id="bar"></div>

<div class="container">
  <div></div>
  <div></div>
  <div></div>
</div>
