#item-box{
    background-color: #3D3B35;
    display:flex;
    width: 100%;
    height: 1000px;
    margin: 0px;
    top: 0px;
    position:fixed;
    
}
#item-box-message{
    height: 75px;

}

#navbar-wrapper {
    position: fixed;
    z-index: 666;
    right:200px;
    
  }

  #nav-container{
    display:flex;
    height: 75px;
  }

  nav li{
    display: inline-block;
    margin: 5px;
    padding:5px;
    color:#FFFFFF;
    font-size: 25px;
    
    
  }
  #item-msg{
    display:flex;
    width: 800px;
    position: absolute;
    right:-625px;
    top: 350px;
    color:#FFFFFF;
    font-size: 25px;
  }

  #btn{
    height: 50px;
    width:200px;
    background-color: #FFF8EB; 
    font-family: 'Kiwi Maru', serif;
    border-radius:72px;
    
  }

  #btn2{
    height: 50px;
    width:200px;
    border-color:#000000 ;
    background-color: #EDEDED; 
    font-family: 'Kiwi Maru', serif;
    border-radius:72px;
    margin-left: 10px;
    
    
    
  }

  #img{
    z-index: 700;
    margin-left: 20px;
    
  }

  #item-header{
    display:flex;
    position:absolute;
    width:auto;
    height:auto;
    right:700px;
    top: 120px;
    font-size: 37px;
    
   
  }
  body{
    margin: 0px;
    font-family: 'Kiwi Maru', serif;
  }

  #index-title1, #index-title2{
    font-family: 'Kiwi Maru', serif;
    font-family: 'Lemon', cursive;
    color:#FFF8EB;
  }

  .btn-container{
    display: flex;
    flex-direction:row;
    width:350px;
    height: 50px;
    position: absolute;
    top: 725px;
    right:325px;
  }

.item-header-container2{
  flex-wrap: wrap;
  margin: 10px;
  position: absolute;
  top:100px;
  left:165px;
  
  
  
}
.item-container{
  position: relative;
  left:580px;
}


  ยง