#item-box{
    background-color: #F8EDE8;
    display:flex;
    width: 1000px;
    height: 680px;
    margin: 0px;
    top: 0px;
    left:0;
    position:fixed;
}
#item-box-message{
    height: 75px;

}

#navbar-wrapper {
    position: fixed;
    z-index: 666;
    right:130px;
    
  }

  #nav-container{
    display:flex;
    height: 50px;
  }

  nav li{
    display: inline-block;
    margin: 5px;
    padding:5px;
    
  }
  #item-msg{
    display:flex;
    width: 450px;
    position: fixed;
    right:650px;
    top: 300px;
  }

  #btn{
    height: 50px;
    width:250px;
    background-color: #FEF0E4; 
    font-family: 'Kiwi Maru', serif;
    
  }

  #btn2{
    height: 50px;
    width:250px;
    border-color:#000000 ;
    background-color: #FFFFFF; 
    font-family: 'Kiwi Maru', serif;
    
    
  }

  #img{
    z-index: 700;
    margin-left: 20px;
    
  }

  #item-header{
    display:flex;
    position:fixed;
    right:675px;
    top: 100px;
   
  }
  body{
    margin: 0px;
    font-family: 'Kiwi Maru', serif;
  }

  #index-title{
    font-family: 'Kiwi Maru', serif;
    font-family: 'Lemon', cursive;
  }

  .btn-container{
    display: flex;
    width:400px;
    height: 50px;
    position: relative;
    top: 500px;
    left:1000px;
  
    


  }


  #bar{
    background-color:#E8E8E8; 
    width:auto;
    height:120px;
    position: relative;
    top:675px;
    position: fixed;
    margin:5px;
    opacity: 25%;
    
  }
  

  @media (min-width:360px){
    #bar{
      width:4400px;
    }
    #item-box{
      width:850px;
    }
    #btn{
      right:-950px;
    }
    #btn2{
      right:-955px;
    }
  }
 